<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This guy right here</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <section>
        <h1>
            Welcome to my home page! There's not much here.
        </h1>
        Check this out:
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="works">Works</a></li>
            </ul>
        </nav>
    </section>
</body>

</html>